name: EsLint CI

on:
    push:
        branches: ['**']

jobs:
    lint:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 22

            - name: Install dependencies
              working-directory: ./frontend
              run: npm install --legacy-peer-deps

            - name: Run ESLint
              working-directory: ./frontend
              run: npm run lint
